1.Define each data type, and give an example.

interger; this is a data type that contains numbers

floating point; this is are numbers also but has decimal points

string; this is a data typoe that contain alphabets and can also contain numbers while enclose in a single or double quote

2.What data type is each value? Use the type function to verify

A.3 = interger

In [13]:
type(3)

int

B.6.0 = floating point

In [16]:
type(6.0)

float

C.4.5 = floating point

In [19]:
type(4.5)

float

D. "hello" = string

In [44]:
type("hello")

str

E. "3.14159" = string

In [47]:
type("3.141579")

str

F. math.pi = floating point

In [56]:
type(math.pi)

NameError: name 'math' is not defined

3.Use the type function to identify the data type of each result. Are there any that do not work?

In [59]:
3+7

10

In [35]:
type(10)

int

In [37]:
6/3.0

2.0

In [39]:
type(2.0)

float

In [61]:
5+6.0

11.0

In [63]:
type(11.0)

float

In [65]:
6.0//3.0

2.0

In [67]:
type(2.0)

float

In [69]:
"py" + "thon"

'python'

In [71]:
type('python')

str

In [73]:
"High" + 5

TypeError: can only concatenate str (not "int") to str

In [75]:
type("High + 5")

str

4. Which variable names are acceptable, and which are not? If a variable name is unacceptable, explain why

A. num = Accepted

B. Age = Accepted

c. FiRsTnAmE = Accepted

D. _count = Accepted

E. 2nd_card = Not Accepted cause it starts with a number

F. card_2 = Accepted

G. card 2 = Not Accepted cause its contains space and its not in a quote

H. lambda = Not Accepted, its a reverse keyword in python

5. Choose a meaningful variable name to represent each scenario

In [231]:
Player_card = "The number of cards dealt to a player."

In [235]:
montly_salary = "An employee's monthly salary."

In [237]:
dice2 = "The sum of the values rolled by two dice."

In [239]:
weather_condition = "The temperature on a hot summer day."

6. Assign the values x="house"
, y="boat" and z="ha"
. What is the result of each statement? Which do not work, and why

In [94]:
x = "house"

In [96]:
y = "boat"

In [98]:
z = "ha"

In [100]:
x+y

'houseboat'

In [102]:
y+x

'boathouse'

In [104]:
z*3

'hahaha'

z*x = error cause variables assign cannot multiply string

7. Assign the values base=10 and height=5. Calculate the area of a triangle using the formula
1
At =
2 ( b)(h) , and assign the value to the variable area. Echo this value.

In [173]:
b = 10

In [171]:
h = 5

In [195]:
Area = A

In [223]:
A = 1/2 * b * h

In [225]:
A

25.0

8. Execute the following sequence of commands in the shell, then state the final value of k.

In [241]:
k = 7

In [243]:
k

7

In [245]:
k += 3

In [247]:
k

10

In [249]:
k *= 2

In [251]:
k

20

In [253]:
k -= 5

In [255]:
k

15

In [257]:
k //= 6

In [267]:
k

2

9. Explain why the following run-time error occurs.

In [276]:
>>> number = 8

In [278]:
>>> Number += 1

NameError: name 'Number' is not defined

Ans. Python does not recognize the number that starts with upper case cause phyton is case sensitive

10. Python is a dynamically-typed language: a variable’s data type can change as necessary. Assign the
value x=4, then use check its type using the type function. What data type is it? Increment x by 1,
using the += operator, then check its type again. Did it change? If so, what data type is it?
Increment x by 1.0, then check its type. Did it change? If so, what data type is it?

In [282]:
x = 4

In [284]:
type(x)

int

In [286]:
type(4)

int

In [288]:
x += 1

In [290]:
x

5

type(x)

In [296]:
type(x)

int

ans. no it didnt change and its an interger

Ans. No it didnt change and its an interger

In [299]:
x += 0.5

In [301]:
x

5.5

In [303]:
type(x)

float

Ans. Yes it changed and its a float